<!DOCTYPE html>
<html>
	<head>
		<title>Real Estates</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

		<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
		<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
		<link href="css/angular-toastr.min.css" rel="stylesheet" type="text/css" media="all" />
	</head>

	<body ng-app="realEstateClientApp">
	  	<div class="header" id="home" ng-controller="LoginCtrl">
	  		<div class="header-top">
	  			<div class="container">
	  				<div class="deatils">
	  					<ul ng-if="!loggedUser">
	  						<li><i class="glyphicon glyphicon-log-in" aria-hidden="true"></i><a href="" ng-click="openModal()" id="login">Log In</a></li>
	  						<li ng-controller="RegistrateCtrl"><i class="glyphicon glyphicon-lock" aria-hidden="true"></i><a href="" ng-click="openModal()">Register</a></li>
						</ul>
						<ul ng-if="loggedUser">
							<li><i class="glyphicon glyphicon-user" aria-hidden="true"></i><a href="" ng-click="profile()" id="profile"><span ng-bind="logData.name"></span></a></li>
	  						<li><i class="glyphicon glyphicon-log-out" aria-hidden="true"></i><a href="" ng-click="logOut()">Log Out</a></li>
						</ul>
	  				</div><br />
	  				<div class="logo">
	  					<h1 style="margin-top: 1px; text-align:center;"><a href="#" ><i>Real Estates</i></a></h1>
	  				</div>
	  			</div>
	  		</div>
	  		<div class="container">
	  			<div class="header-bottom" ng-if="mainMenu">
	  				<nav class="navbar navbar-default">
	  					<div class="container-fluid">
	  						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="text-align: center;">
	  							<nav class="menu menu--francisco" style="display: inline-block;">
	  								<ul class="nav navbar-nav menu__list">
	  									<li class="menu__item"><a ng-href="#" class="menu__link"><span class="menu__helper">Home</span></a></li>
	  									<li class="menu__item"><a ng-href="/#/buy" class="menu__link"><span class="menu__helper">Buy</span></a></li>
	  									<li class="menu__item"><a ng-href="/#/rent" class="menu__link"><span class="menu__helper">Rent</span></a></li>
	  									<li class="menu__item" ng-if="currentUser"><a ng-href="/#/sell" class="menu__link"><span class="menu__helper">Sell</span></a></li>
										<li class="menu__item" ng-if="!currentUser"><a href="" ng-click="openModal('/sell')" class="menu__link"><span class="menu__helper">Sell</span></a></li>
	  									<li class="menu__item"><a ng-href="/#/about" class="menu__link"><span class="menu__helper">About</span></a></li>
	  									<li class="menu__item"><a ng-href="/#/contact" class="menu__link"><span class="menu__helper">Contact</span></a></li>
	  								</ul>
	  							</nav>
	  						</div>
	  					</div>
	  				</nav>
	  			</div>
	  		</div>
	  	</div>

	  	<div class="content">
	  		<div ng-view=""></div>
	  	</div>

		<script src="bower_components/jquery/dist/jquery.js"></script>
	    <script src="bower_components/angular/angular.js"></script>
	    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
	    <script src="bower_components/angular-resource/angular-resource.js"></script>
	    <script src="bower_components/angular-route/angular-route.js"></script>
	    <script src="bower_components/lodash/lodash.js"></script>
	    <script src="bower_components/restangular/dist/restangular.js"></script>
	    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
	    <script src="bower_components/angular-lodash-module/angular-lodash-module.js"></script>
		<script src="bower_components/angular-filter/angular-filter.js"></script>
	    <script src="bower_components/ResponsiveSlides/responsiveslides.js"></script>
		<script src="bower_components/ng-flow/ng-flow-standalone.min.js"></script>
		<script src="bower_components/ngstorage/ngStorage.min.js"></script>
		<script src="bower_components/ngmap/ng-map.min.js"></script>
		<script src="bower_components/angular-toastr/angular-toastr.tpls.min.js"></script>
		<script src="bower_components/angular-animate/angular-animate.min.js"></script>

		<script src="scripts/app.js"></script>
		<script src="scripts/main/main-ctrl.js"></script>
		<script src="scripts/login_registrate/login-ctrl.js"></script>
		<script src="scripts/login_registrate/login-factory.js"></script>
		<script src="scripts/login_registrate/registrate-ctrl.js"></script>
		<script src="scripts/login_registrate/registrate-factory.js"></script>
		<script src="scripts/advertisement/buy-ctrl.js"></script>
		<script src="scripts/advertisement/buy-rent-factory.js"></script>
		<script src="scripts/advertisement/rent-ctrl.js"></script>
		<script src="scripts/realEstate/sell-ctrl.js"></script>
		<script src="scripts/realEstate/sell-factory.js"></script>
		<script src="scripts/advertisement/advertisement-ctrl.js"></script>
		<script src="scripts/advertisement/advertisement-factory.js"></script>
		<script src="scripts/profile/user-ctrl.js"></script>
		<script src="scripts/profile/user-factory.js"></script>
		<script src="scripts/profile/verifier-ctrl.js"></script>
		<script src="scripts/profile/verifier-factory.js"></script>
		<script src="scripts/profile/admin-ctrl.js"></script>
		<script src="scripts/profile/admin-factory.js"></script>

		<script src="scripts/directive/nvtSubmit.js"></script>

	</body>
</html>
