<div class="modal-header">
    <h4 class="modal-title" >Report Advertisement</h4>
</div>
<div class="modal-body">
    <form>
        <fieldset class="form-group">
            <label for="title" style="font-size:17px;">Title:</label>
            <input type="text" class="form-control" id="title" ng-model="inappropriate.title">
            <label for="description" style="font-size:17px;">Description:</label>
            <input type="text" class="form-control" id="description" ng-model="inappropriate.description">
        </fieldset>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="report()">Report</button>
    <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
</div>
