<div class="modal-header">
    <h4 class="modal-title" >Sign In <i class="glyphicon glyphicon-log-in" aria-hidden="true"></i></h4>
</div>
<div class="modal-body">
    <form>
        <fieldset class="form-group">
            <label for="username" style="font-size:17px;">Username:</label>
            <input type="text" class="form-control" id="username">
            <label for="password" style="font-size:17px;">Password:</label>
            <input type="password" class="form-control" id="password">
        </fieldset>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
</div>
