<div class="modal-header">
    <h4 class="modal-title" >Update advertisement</h4>
</div>
<div class="modal-body">
    <form name="updateAdvertisement" novalidate nvt-submit="save()">
        <div class="form-group" ng-class="{'has-error': nvt.updateAdvertisement.needsAttention(updateAdvertisement.name)}">
			<label style="font-size:17px;">Name<span class="requiredFiled">*</span></label>
		  	<input type="text" class="form-control" name="name" placeholder="Name" required ng-model="advertisement.name">
		</div>
		<div class="form-group" ng-class="{'has-error': nvt.updateAdvertisement.needsAttention(updateAdvertisement.address)}">
			<label style="font-size:17px;">Address<span class="requiredFiled">*</span></label>
		  	<input type="text" class="form-control" name="address" placeholder="Address" required ng-model="advertisement.address">
		</div>
		<div class="form-group" ng-class="{'has-error': nvt.updateAdvertisement.needsAttention(updateAdvertisement.city)}">
			<label style="font-size:17px;">City<span class="requiredFiled">*</span></label>
		  	<input type="text" class="form-control" placeholder="City" name="city" required ng-model="advertisement.location.city" uib-typeahead="city for city in cities | filter:$viewValue" ng-blur="getPartOfTheCities()">
		</div>
		<div class="form-group" ng-class="{'has-error': nvt.updateAdvertisement.needsAttention(updateAdvertisement.zipcode)}">
			<label style="font-size:17px;">Zip code<span class="requiredFiled">*</span></label>
		  	<input type="number" min="0" class="form-control" name="zipcode" placeholder="Zip code" required ng-model="advertisement.location.zipCode">
		</div>
		<div class="form-group">
			<label style="font-size:17px;">Part of the city</label>
		  	<input type="text" class="form-control" placeholder="Part of the city" ng-model="advertisement.location.partOfTheCity" uib-typeahead="partOfTheCity for partOfTheCity in partOfTheCities | filter:$viewValue">
		</div>
		<div class="form-group" ng-class="{'has-error': nvt.updateAdvertisement.needsAttention(updateAdvertisement.landsize)}">
  			<label style="font-size:17px;">Land Size<span class="requiredFiled">*</span></label>
		    <div class="input-group">
		        <span class="input-group-addon">m<sup>2</sup></span>
		        <input type="number" min="0" step="0.01" name="landsize" data-number-to-fixed="2"  required data-number-stepfactor="100" class="form-control currency" ng-model="advertisement.landSize"/>
		    </div>
		</div>
		<div class="form-group">
			<label style="font-size:17px;">Equipment</label>
		  	<input type="text" class="form-control" placeholder="Equipment" ng-model="advertisement.techEquipment">
		</div>
		<div class="form-group" ng-class="{'has-error': nvt.updateAdvertisement.needsAttention(updateAdvertisement.heatingtype)}">
		 	<label style="font-size:17px;">Heating type<span class="requiredFiled">*</span></label>
		  	<select class="form-control" required name="heatingtype" ng-model="advertisement.heatingType">
		  		<option>Forced Air</option>
				<option>Radiant</option>
				<option>Radiators</option>
		  	</select>
		</div>
		<div class="form-group">
			<label style="font-size:17px;">Bathrooms</label>
		  	<input type="number" min="0" class="form-control" placeholder="Bathrooms" ng-model="advertisement.numOfBathRooms">
		</div>
		<div class="form-group">
			<label style="font-size:17px;">Bedrooms</label>
		  	<input type="number" min="0" class="form-control" placeholder="Bedrooms" ng-model="advertisement.numOfBedRooms">
		</div>
		<div class="form-group">
			<label style="font-size:17px;">Floors</label>
		  	<input type="number" min="0" class="form-control" placeholder="Floors" ng-model="advertisement.numOfFlors">
		</div>
		<div class="form-group">
			<label style="font-size:17px;">Build year</label>
		  	<input type="number" min="0" class="form-control" placeholder="Build year" ng-model="advertisement.buildYear">
		</div>
		<div class="form-group" ng-class="{'has-error': nvt.updateAdvertisement.needsAttention(updateAdvertisement.price)}">
			<label style="font-size:17px;">Price<span class="requiredFiled">*</span></label>
			<div class="input-group">
				<span class="input-group-addon">RSD</span>
				<input type="number" min="0" step="0.01" name="price" required data-number-to-fixed="2" data-number-stepfactor="100" class="form-control currency" ng-model="advertisement.price"/>
			</div>
		</div>
		<div class="form-group" ng-class="{'has-error': nvt.updateAdvertisement.needsAttention(updateAdvertisement.phonenumber)}">
  			<label style="font-size:17px;">Phone Number<span class="requiredFiled">*</span></label>
  		  	<input class="form-control" name="phonenumber" required placeholder="Phone Number" ng-model="advertisement.phoneNumber">
  	  	</div>
		<div class="form-group" ng-class="{'has-error': nvt.updateAdvertisement.needsAttention(updateAdvertisement.purpose)}">
		 	<label style="font-size:17px;">Purpose<span class="requiredFiled">*</span></label>
		  	<select class="form-control" name="purpose" ng-model="advertisement.purpose" required>
		  		<option>Rent</option>
				<option>Sell</option>
		  	</select>
		</div>
        <label for="activeUntil" style="font-size:17px;">Active Until:</label>
        <div>
       		<p class="input-group">
           	<input type="text" class="form-control" uib-datepicker-popup="{{format}}" show-button-bar="false" ng-model="dt" is-open="popup.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
        	<span class="input-group-btn">
        		<button type="button" class="btn btn-default" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
       		</span>
        	</p>
      	</div>
		<div class="form-group" ng-class="{'has-error': nvt.updateAdvertisement.needsAttention(updateAdvertisement.status)}">
		 	<label style="font-size:17px;">Status<span class="requiredFiled">*</span></label>
		  	<select class="form-control" name="status" ng-model="advertisement.status" required>
		  		<option>Active</option>
				<option ng-if="advertisement.purpose == 'Rent'">Rented</option>
				<option ng-if="advertisement.purpose == 'Sell'">Sold</option>
		  	</select>
		</div>
		<div class="modal-footer">
            <button class="btn btn-default" type="submit" id="save">Save</button>
            <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </form>
</div>
