<div class="content">
	<div class="about-w3ls">
		<div class="container">
			<h2 style="color: 0000; padding-left: 45%; padding-right: 40%">About us</h2><br/><br/>
			<div class="about-grids">
				<div class="col-md-6 about-grid1">
					<img src="images/realestate.jpg" class="img-responsive" alt=""/>
				</div>
				<div class="col-md-6 about-grid" style="text-align:center">
					<h4 style="color: #751717;"> Real Estate </h4>
					<p align="justify">
						Mentor Real Estate Agency is founded by the team of experts in real estate business
						in year 2000 after the changes in Serbia. We found that our major goals will be: <br> <br>
						1. sales and rentals of residential and commercial properties <br>
						2. property investments (management & consulting) <br>
						3. reconstruction of old houses / villas <br>
						4. selling plots for new object (buildings, warehouse, hotels) <br>
						5. abroad property sales (Spain, Croatia, Montenegro, Greece) <br>
					</p>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</div>
