<style>tr:nth-child(even){background-color: #f2f2f2}</style>

<div class='container'>
	<h4 style="color: #751717;" class="tittle">Adver</h4>
	<br>
	<div class="adver-grid-left">
		<img src="images/house1.jpg" alt="" class="img-thumbnail">
  		<br><br>
  		<div>
  			<h4>Description</h4>
  			<p>Pormpsdasmd;a asdma;dkmasdm</p>
  			<p>Pormpsdasmd;a asdma;dkmasdm</p>
  			<p>Pormpsdasmd;a asdma;dkmasdm</p>
  		</div>
	</div>
	
	<div class="adver-grid-right">
		<h4>Details</h4>
		<br>
	    <div class="table-responsive">          
			<table class="table">
		    	<tbody>
		      		<tr>
		        		<td>ID</td>
		        		<td>100515165</td>
		      		</tr>
		      		<tr>
		        		<td>Published</td>
		        		<td>23.01.2016.</td>
		      		</tr>
		      		<tr>
		        		<td>Address</td>
		        		<td>Balzakova 20</td>
		      		</tr>
		      		<tr>
		        		<td>Number of Rooms</td>
		        		<td>7</td>
		      		</tr>
		      		<tr>
		        		<td>Number of Bathrooms</td>
		        		<td>2</td>
		      		</tr>
		      		<tr>
		        		<td>Heating type</td>
		        		<td>Electricity</td>
		      		</tr>
		      		<tr>
		        		<td>Technical Equipment</td>
		        		<td>Internet</td>
		      		</tr>
		  		</tbody>
		  	</table>
		</div>
	</div>
		
	<div class="adver-grid-right" style="margin-top: 18px;">
		<h4>Contact</h4>
		<br>
	    <div class="table-responsive">          
			<table class="table">
		    	<tbody>
		      		<tr>
		        		<td>Name</td>
		        		<td>Ana</td>
		      		</tr>
		      		<tr>
		        		<td>Surname</td>
		        		<td>Cig</td>
		      		</tr>
		      		<tr>
		        		<td>Phone Number</td>
		        		<td>0631844017</td>
		      		</tr>
		      		<tr>
		        		<td>Zip Code</td>
		        		<td>21000</td>
		      		</tr>
		      		<tr>
		        		<td>City</td>
		        		<td>Novi Sad</td>
		      		</tr>
		      		<tr>
		        		<td>Republic</td>
		        		<td>Serbia</td>
		      		</tr>
		  		</tbody>
		  	</table>
		</div>
	</div>
		
	<div class="adver-grid-left" style="margin-top: 15px;">
		<div class="comment-list-scroll">
			<h4>Comments</h4>
			<br>
			<div>
			  <form>
			    <div class="form-group">
			      <textarea class="form-control" rows="4" id="comment" style="resize: none;"></textarea>
			      <input type="submit" class="btn btn-success" value="Submit" style="margin-top:3px; float:right;">
			    </div>
			  </form>
			</div>
			<div class="profile-list" style="margin-top: 50px;">
				<div class="comment-listItem">
					<div class="comment-grid-left" style="margin-top: 25px;">
						<img src="images/house1.jpg" alt="" class="img-thumbnail">
					</div>
					<div class="comment-grid-right">
						<div class="comment-listItem-text">
							<h4>Komentar</h4>
							<p>Mandjasndaj</p>
							<p>da d e c  e c</p>
						</div>
					</div>
				</div>
				<div class="comment-listItem">
					<div class="comment-grid-left" style="margin-top: 25px;">
						<img src="images/house1.jpg" alt="" class="img-thumbnail">
					</div>
					<div class="comment-grid-right">
						<div class="comment-listItem-text">
							<h4>Comm</h4>
							<p>Mandjasndaj</p>
							<p>daeeda</p>
						</div>
					</div>
				</div>
				<div class="comment-listItem">
					<div class="comment-grid-left" style="margin-top: 25px;">
						<img src="images/house1.jpg" alt="" class="img-thumbnail">
					</div>
					<div class="comment-grid-right">
						<div class="comment-listItem-text">
							<h4>Comm3</h4>
							<p>Mandjasndaj</p>
						</div>
					</div>
				</div>
				<div class="comment-listItem">
					<div class="comment-grid-left" style="margin-top: 25px;">
						<img src="images/house1.jpg" alt="" class="img-thumbnail">
					</div>
					<div class="comment-grid-right">
						<div class="comment-listItem-text">
							<h4>Comment 4</h4>
							<p>Mandjasndaj</p>
							<p>mamm</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
		
	<div class="adver-grid-right" style="margin-top: 18px;">
		<h4>Company</h4>
		<br>
	       	<div class="table-responsive">          
			<table class="table">
		    	<tbody>
		      		<tr>
		        		<td>Name</td>
		        		<td>Ana d.o.o.</td>
		      		</tr>
		      		<tr>
		        		<td>Phone Number</td>
		        		<td>0631844017</td>
		      		</tr>
		      		<tr>
		        		<td>Zip Code</td>
		        		<td>21000</td>
		      		</tr>
		      		<tr>
		        		<td>City</td>
		        		<td>Novi Sad</td>
		      		</tr>
		      		<tr>
		        		<td>Republic</td>
		        		<td>Serbia</td>
		      		</tr>
		  		</tbody>
		  	</table>
		</div>
	</div>
</div>

<div class="clearfix"></div>
<br>
<br>
