<!--
<div class="container, header-height">
	<div class="header-bottom">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<nav class="menu menu--francisco">
						<ul class="nav navbar-nav menu__list">
							<li class="menu__item menu__item--current"><a href="#" class="menu__link"><span class="menu__helper">Residential</span></a></li>
							<li class="menu__item"><a href="#" class="menu__link"><span class="menu__helper">Office</span></a></li>
							<li class="menu__item"><a href="#" class="menu__link"><span class="menu__helper">Property</span></a></li>
						</ul>
					</nav>
				</div>
			</div>
		</nav>
	</div>
</div>
-->

<div class="container, header-height">
	<div class="header-bottom">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<nav class="menu menu--francisco">
						<ul class="nav navbar-nav menu__list, mini_menu_list">
							<li class="menu__item"><a href="#" class="menu__link"><span class="menu__helper">Apartments</span></a></li>
							<li class="menu__item"><a href="#" class="menu__link"><span class="menu__helper">Houses</span></a></li>
							<li class="menu__item"><a href="#" class="menu__link"><span class="menu__helper">Rooms</span></a></li>
							<li class="menu__item"><a href="#" class="menu__link"><span class="menu__helper">Garages</span></a></li>
						</ul>
					</nav>
				</div>
			</div>
		</nav>
	</div>
</div>

<div class="content">
	<div class="projects-agile">
		<div class="container">
			<div class="search-grid-left">
				<div class="panel-group">
					<div class="panel panel-success">
						<div class="panel-heading">
       						<a data-toggle="collapse" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
								<h3 class="panel-title">Purpose</h3>
							</a>
						</div>
						<div class="collapsed" id="collapse1">
							<div class="panel-body">
								<div class="radio">
									<label><input type="radio" name="optradio" checked="">Buy</label>
								</div>
								<div class="radio">
									<label><input type="radio" name="optradio">Rent</label>
								</div>
							</div>
						</div>
					</div>
					<div class="panel panel-success">
						<div class="panel-heading">
       						<a data-toggle="collapse" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
								<h3 class="panel-title">City</h3>
							</a>
						</div>
						<div class="collapsed" id="collapse2">
							<div class="panel-scroll">
								<div class="checkbox">
									<label><input type="checkbox">Novi Sad</label>
								</div>
								<div class="checkbox">
									<label><input type="checkbox">Beograd</label>
								</div>
								<div class="checkbox">
									<label><input type="checkbox">Nis</label>
								</div>
								<div class="checkbox">
									<label><input type="checkbox">Kraljevo</label>
								</div>
								<div class="checkbox">
									<label><input type="checkbox">Valjevo</label>
								</div>
								<div class="checkbox">
									<label><input type="checkbox">Novi Sad</label>
								</div>
								<div class="checkbox">
									<label><input type="checkbox">Beograd</label>
								</div>
								<div class="checkbox">
									<label><input type="checkbox">Nis</label>
								</div>
								<div class="checkbox">
									<label><input type="checkbox">Valjevo</label>
								</div>
								<div class="checkbox">
									<label><input type="checkbox">Novi Sad</label>
								</div>
								<div class="checkbox">
									<label><input type="checkbox">Beograd</label>
								</div>
								<div class="checkbox">
									<label><input type="checkbox">Nis</label>
								</div>
								<div class="checkbox">
									<label><input type="checkbox">Valjevo</label>
								</div>
								<div class="checkbox">
									<label><input type="checkbox">Novi Sad</label>
								</div>
								<div class="checkbox">
									<label><input type="checkbox">Beograd</label>
								</div>
								<div class="checkbox">
									<label><input type="checkbox">Nis</label>
								</div>
								<div class="checkbox">
									<label><input type="checkbox">Kraljevo</label>
								</div>
								<div class="checkbox">
									<label><input type="checkbox">Valjevo</label>
								</div>
							</div>
						</div>
					</div>
					<div class="panel panel-success">
						<div class="panel-heading">
       						<a data-toggle="collapse" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
								<h3 class="panel-title">Part of The City</h3>
							</a>
						</div>
						<div class="collapsed" id="collapse3">
							<div class="panel-scroll">
								<div class="checkbox">
									<label><input type="checkbox">Liman</label>
								</div>
								<div class="checkbox">
									<label><input type="checkbox">Grbavica</label>
								</div>
								<div class="checkbox">
									<label><input type="checkbox">Novo naselje</label>
								</div>
								<div class="checkbox">
									<label><input type="checkbox">Detelinara</label>
								</div>
								<div class="checkbox">
									<label><input type="checkbox">Telep</label>
								</div>
								<div class="checkbox">
									<label><input type="checkbox">Detelinara</label>
								</div>
								<div class="checkbox">
									<label><input type="checkbox">Telep</label>
								</div>
								<div class="checkbox">
									<label><input type="checkbox">Detelinara</label>
								</div>
								<div class="checkbox">
									<label><input type="checkbox">Telep</label>
								</div>
							</div>
						</div>
					</div>
					<div class="panel panel-success">
						<div class="panel-heading">
       						<a data-toggle="collapse" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
								<h3 class="panel-title">Price (RSD)</h3>
							</a>
						</div>
						<div class="collapse" id="collapse4">
							<div class="panel-body">
								<label class="number-size-left">From:</label>
								<label class="number-size-right">To:</label>
								<input class="form-control, number-size-left" type="number" min="0" step="10000">
								<input class="form-control, number-size-right" type="number" min="0" step="10000">
								<button type="submit" class="btn btn-default, filter-button"><b>Filter</b></button>
							</div>
						</div>
					</div>
					<div class="panel panel-success">
						<div class="panel-heading">
       						<a data-toggle="collapse" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
								<h3 class="panel-title">Land size (m<sup>2</sup>)</h3>
							</a>
						</div>
						<div class="collapse" id="collapse5">
							<div class="panel-body">
								<label class="number-size-left">From:</label>
								<label class="number-size-right">To:</label>
								<input class="form-control, number-size-left" type="number" min="0" step="5">
								<input class="form-control, number-size-right" type="number" min="0" step="5">
								<button type="submit" class="btn btn-default, filter-button"><b>Filter</b></button>
							</div>
						</div>
					</div>
					<div class="panel panel-success">
						<div class="panel-heading">
       						<a data-toggle="collapse" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
								<h3 class="panel-title">Rate (1-5)</h3>
							</a>
						</div>
						<div class="collapse" id="collapse6">
							<div class="panel-body">
								<label class="number-size-left">From:</label>
								<label class="number-size-right">To:</label>
								<input class="form-control, number-size-left" type="number" min="0" max="5" step="1">
								<input class="form-control, number-size-right" type="number" min="0" max="5" step="1">
								<button type="submit" class="btn btn-default, filter-button"><b>Filter</b></button>
							</div>
						</div>
					</div>
					<div class="panel panel-success">
						<div class="panel-heading">
       						<a data-toggle="collapse" href="#collapse7" aria-expanded="false" aria-controls="collapse7">
								<h3 class="panel-title">Heating Type</h3>
							</a>
						</div>
						<div class="collapse" id="collapse7">
							<div class="panel-body">
								<div class="checkbox">
									<label><input type="checkbox">Central</label>
								</div>
								<div class="checkbox">
									<label><input type="checkbox">Floor</label>
								</div>
								<div class="checkbox">
									<label><input type="checkbox">Gas</label>
								</div>
								<div class="checkbox">
									<label><input type="checkbox">Electricity</label>
								</div>
								<div class="checkbox">
									<label><input type="checkbox">Fuel Oil</label>
								</div>
							</div>
						</div>
					</div>
					<div class="panel panel-success">
						<div class="panel-heading">
       						<a data-toggle="collapse" href="#collapse8" aria-expanded="false" aria-controls="collapse8">
								<h3 class="panel-title">Number Of Rooms</h3>
							</a>
						</div>
						<div class="collapse" id="collapse8">
							<div class="panel-body">
								<label class="number-size-left">From:</label>
								<label class="number-size-right">To:</label>
								<input class="form-control, number-size-left" type="number" min="0" max="250" step="1">
								<input class="form-control, number-size-right" type="number" min="0" max="250" step="1">
								<button type="submit" class="btn btn-default, filter-button"><b>Filter</b></button>
							</div>
						</div>
					</div>
					<div class="panel panel-success">
						<div class="panel-heading">
       						<a data-toggle="collapse" href="#collapse9" aria-expanded="false" aria-controls="collapse9">
								<h3 class="panel-title">Number Of Floors</h3>
							</a>
						</div>
						<div class="collapse" id="collapse9">
							<div class="panel-body">
								<label class="number-size-left">From:</label>
								<label class="number-size-right">To:</label>
								<input class="form-control, number-size-left" type="number" min="0" max="250" step="1">
								<input class="form-control, number-size-right" type="number" min="0" max="250" step="1">
								<button type="submit" class="btn btn-default, filter-button"><b>Filter</b></button>
							</div>
						</div>
					</div>
					<div class="panel panel-success">
						<div class="panel-heading">
       						<a data-toggle="collapse" href="#collapse10" aria-expanded="false" aria-controls="collapse10">
								<h3 class="panel-title">Number Of Bathrooms</h3>
							</a>
						</div>
						<div class="collapse" id="collapse10">
							<div class="panel-body">
								<label class="number-size-left">From:</label>
								<label class="number-size-right">To:</label>
								<input class="form-control, number-size-left" type="number" min="0" max="50" step="1">
								<input class="form-control, number-size-right" type="number" min="0" max="50" step="1">
								<button type="submit" class="btn btn-default, filter-button"><b>Filter</b></button>
							</div>
						</div>
					</div>
					<div class="panel panel-success">
						<div class="panel-heading">
       						<a data-toggle="collapse" href="#collapse11" aria-expanded="false" aria-controls="collapse11">
								<h3 class="panel-title">Build Year</h3>
							</a>
						</div>
						<div class="collapse" id="collapse11">
							<div class="panel-body">
								<label class="number-size-left">From:</label>
								<label class="number-size-right">To:</label>
								<input class="form-control, number-size-left" type="number" min="1678" max="2016" step="1" value="2000">
								<input class="form-control, number-size-right" type="number" min="1678" max="2016" step="1" value="2016">
								<button type="submit" class="btn btn-default, filter-button"><b>Filter</b></button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="search-grid-right">
				<h4 class="tittle" style="color: #751717;">Homes</h4>
				<div class="portfolio_grid_w3lss">
					<div class="col-md-4 w3agile_Projects_grid">
						<figure>
               <div class="image-text">
 								<img src="images/house1.jpg" alt="" class="img-responsive" />
                 <p><font size="4">Velika kuca u Beogradu</font><br/>
                 <font size="6">210.000$</font><br/>
                 <font size="5">Beograd</font></p>
               </div>
						</figure>
					</div>
					<div class="col-md-4 w3agile_Projects_grid">
             <figure>
               <div class="image-text">
 								<img src="images/house2.jpg" alt="" class="img-responsive" />
                 <p><font size="4">Velika kuca u Beogradu</font><br/>
                 <font size="6">210.000$</font><br/>
                 <font size="5">Beograd</font></p>
               </div>
						</figure>
					</div>
					<div class="col-md-4 w3agile_Projects_grid">
             <figure>
               <div class="image-text">
 								<img src="images/house3.jpg" alt="" class="img-responsive" />
                 <p><font size="4">Velika kuca u Beogradu</font><br/>
                 <font size="6">210.000$</font><br/>
                 <font size="5">Beograd</font></p>
               </div>
						</figure>
					</div>
					<div class="clearfix"> </div>
				</div>
         <div class="portfolio_grid_w3lss">
					<div class="col-md-4 w3agile_Projects_grid">
						<figure>
               <div class="image-text">
 								<img src="images/house1.jpg" alt="" class="img-responsive" />
                 <p><font size="4">Velika kuca u Beogradu</font><br/>
                 <font size="6">210.000$</font><br/>
                 <font size="5">Beograd</font></p>
               </div>
						</figure>
					</div>
					<div class="col-md-4 w3agile_Projects_grid">
             <figure>
               <div class="image-text">
 								<img src="images/house2.jpg" alt="" class="img-responsive" />
                 <p><font size="4">Velika kuca u Beogradu</font><br/>
                 <font size="6">210.000$</font><br/>
                 <font size="5">Beograd</font></p>
               </div>
						</figure>
					</div>
					<div class="col-md-4 w3agile_Projects_grid">
             <figure>
               <div class="image-text">
 								<img src="images/house3.jpg" alt="" class="img-responsive" />
                 <p><font size="4">Velika kuca u Beogradu</font><br/>
                 <font size="6">210.000$</font><br/>
                 <font size="5">Beograd</font></p>
               </div>
						</figure>
					</div>
					<div class="clearfix"> </div>
				</div>
         <div class="portfolio_grid_w3lss">
					<div class="col-md-4 w3agile_Projects_grid">
						<figure>
               <div class="image-text">
 								<img src="images/house1.jpg" alt="" class="img-responsive" />
                 <p><font size="4">Velika kuca u Beogradu</font><br/>
                 <font size="6">210.000$</font><br/>
                 <font size="5">Beograd</font></p>
               </div>
						</figure>
					</div>
					<div class="col-md-4 w3agile_Projects_grid">
             <figure>
               <div class="image-text">
 								<img src="images/house2.jpg" alt="" class="img-responsive" />
                 <p><font size="4">Velika kuca u Beogradu</font><br/>
                 <font size="6">210.000$</font><br/>
                 <font size="5">Beograd</font></p>
               </div>
						</figure>
					</div>
					<div class="col-md-4 w3agile_Projects_grid">
             <figure>
               <div class="image-text">
 								<img src="images/house3.jpg" alt="" class="img-responsive" />
                 <p><font size="4">Velika kuca u Beogradu</font><br/>
                 <font size="6">210.000$</font><br/>
                 <font size="5">Beograd</font></p>
               </div>
						</figure>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="clearfix"></div>

<!-- map-->
<!-- <div class="serach-w3agile">
	<h4 class="tittle">See It On The Map</h4>
	<div class="map">
		<iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAm5ArMg7a8PzEMJGW0bBk5kWyt8d7KJdM&q=Novi+Sad,Serbia" style="border:0" allowfullscreen></iframe>
	</div>
</div> -->
<!--map -->
