<div class="content">
	<div class="contact-w3l">
		<h2 style="color: 0000; padding-left: 45%; padding-right: 40%;">Contact Us</h2><br/><br/>
		<div class="container">
			<div style="padding-left: 10%; padding-right: 10%">
				<div class="col-md-6 contact-left">
					<img src="images/agents.jpg" class="img-responsive" alt=""/>
				</div>
				<div class="col-md-6 contact-right" style="padding-left: 10%">
					<h4 style="color: #751717;">Listing Agents</h4>
					<ul>
						<li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i> Office : 0038121/6363-723</li>
						<li><i class="glyphicon glyphicon-phone" aria-hidden="true"></i> Mobile : 0038165/686-0011</li>
						<li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i> <a href="mailto:bozo.bjekovic@gmail.com">bozo.bjekovic@gmail.com</a></li>
						<li><i class="glyphicon glyphicon-print" aria-hidden="true"></i> Fax : 0038121/6363-723</li>
						<li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i> Bulevar cara Lazara 108, Novi Sad</li>
					</ul>
				</div>
				<div class="clearfix"></div>
				<br><br>
				<h3 style="color: #751717; padding-left: 45%; padding-right: 40%"> Agents </h3>
				<p align="justify">
					The Agency employs only the top agents and brokers in the business.
					They are the reason that The Agency has become one of the top luxury
					real estate brokerages in the world in less than two years, rivaling
					companies that have been around for decades. Our agents place a premium
					on honesty, industry knowledge, collaboration, extraordinary customer
					service and efficiency in all areas. We do not wish to be the biggest
					agency in the business - just the best. As a result, we take pride in
					everything we do and make ourselves readily available to our clientele. <br> <br>
					
					Not only that, our agents are connoisseurs and purveyors of the luxury lifestyle.
					We make it our duty to find you not only a home to meet your needs, but the perfect
					combination of amenities, location and design to best fit who you are and exactly how
					you aspire to live. The Agency carefully vets every potential agent to make	sure he or
					she will be a beneficial addition to the team and live up to our high standards of service.
				</p>
			</div>
			<div class="contact-form"> <br>
				<h3 style="color: #751717; padding-left: 43%; padding-right: 40%">Contact Form</h3> <br>
				<form action="#" method="post">
					<input type="text" value="Name" name="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}" required>
					<input type="mail" value="Email" name="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required>
					<input type="text" value="Telephone" name="Telephone" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Telephone';}" required>
					<textarea name="Message" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message...';}" required>Message...</textarea>
					<input type="submit" value="Submit" style="background-color: #751717;">
					<input type="reset" value="Clear" style="background-color: #751717;">
				</form>
			</div>
		</div>
		<div class="map" style="border: 1px solid;">
			<iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAm5ArMg7a8PzEMJGW0bBk5kWyt8d7KJdM&q=Bulevar+cara+Lazara+108,Novi+Sad,Serbia" style="border:0" allowfullscreen></iframe>
		</div>
	</div>
</div>
