<script>
   	$(function () {
       	$("#slider").responsiveSlides({
       		auto: true,
       		nav: true,
       		speed: 500,
         		namespace: "callbacks",
         	pager: true,
       	});
     });
</script>
<div class="banner-section">
	<div class="slider">
		<div class="callbacks_container">
			<ul class="rslides" id="slider">
				<li> <img src="images/house3Big.jpg" alt=""> </li>
				<li> <img src="images/house2Big.jpg" alt=""> </li>
				<li> <img src="images/house1Big.jpg" alt=""> </li>
         		<li> <img src="images/house4Big.jpg" alt=""> </li>
			</ul>
		</div>
	</div>
</div>
