<style>tr:nth-child(even){background-color: #f2f2f2}</style>
<nav class="navbar navbar-default"></nav>

<div class="container">
	<div class="profile-grid-left" style="margin-right: 0.5%; border: 1px solid gray; border-radius: 5px; padding: 10px;">
		<h4 style="color: #751717;">Profile Data</h4> <br>
	    <div class="table-responsive">          
			<table class="table">
		    	<tbody>
		      		<tr>
		        		<td>Userame</td>
		        		<td>{{admin.username}}</td>
		      		</tr>
		      		<tr>
		        		<td>Email</td>
		        		<td>{{admin.email}}</td>
		      		</tr>
		  		</tbody>
		  	</table>
		</div>
  		<br>
  		<button type="button" class="btn btn-success" style="width: 100%" ng-click="openModal()"><b>Registrate Verifier</b></button>
	</div>
	
	<div class="profile-grid-left" style="width: 37%; border: 1px solid gray; border-radius: 5px; padding: 10px;">
		<div class="profile-list-scroll">
			<h4 style="color: #751717;" class="tittle">Inappropriate Requests</h4> <br> <br>
			<div class="profile-list" ng-repeat="inapp in inappropriates">
				<div class="profile-listItem" style="margin-bottom: -40px">
					<div style="width: 70%; float: left; border: 1px solid gray; border-radius: 10px; padding: 20px;">
						<h4>{{inapp.title}}</h4>
						<p>{{inapp.description}}</p>
						<p>{{inapp.date}}</p>
					</div>
					<div style="width: 25%; float: right; padding-top: 2%">
						<button type="button" class="btn btn-success" ng-click="accept(inapp.id)"><b>Accept</b></button>
						<button type="button" class="btn btn-danger" ng-click="reject(inapp.id)"><b>Decline</b></button>
					</div>
				</div>				
			</div>
		</div>
	</div>
	
	<div class="profile-grid-right" style="width: 37%; border: 1px solid gray; border-radius: 5px; padding: 10px;">
		<div class="profile-list-scroll">
			<h4 style="color: #751717;" class="tittle">Clerk Requests</h4> <br> <br>
			<div class="profile-list" ng-repeat="clerk in unapprovedClerks">
				<div class="profile-listItem">
					<div style="width: 70%; float: left; border: 1px solid gray; border-radius: 10px; padding: 20px;">
						<h4>{{clerk.name}} {{clerk.surname}}</h4>
						<p>{{clerk.email}}</p>
					</div>
					<div style="width: 25%; float: right; padding-top: 2%">
						<button type="button" class="btn btn-success" ng-click="acceptClerk(clerk.id)"><b>Accept</b></button>
						<button type="button" class="btn btn-danger" ng-click="denyClerk(clerk.id)"><b>Decline</b></button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<br><br><br>