<div class="header" id="home">
	<div class="header-top">
		<div class="logo">
			<h1 style="margin-top: 10px; margin-left: 140px;"><a href="index.html"><i>Real Estates</i></a></h1>
		</div>
	</div>
</div>

<nav class="navbar navbar-default"></nav>

<div class="container">
	<div class="profile-grid-left" style="border: 0.7px solid gray; border-radius: 5px; padding: 10px;">
		<h4 style="color: #751717;" class="tittle">Profile</h4>
		<img src="images/house1.jpg" alt="" class="img-thumbnail">
  		<input type="text" class="form-control" placeholder="Name">
	 	<input type="text" class="form-control" placeholder="Surname">
  		<input type="text" class="form-control" placeholder="Phone Number">
  		<input type="email" class="form-control" placeholder="E-mail">
  		<br>
  		<button type="button" class="btn btn-warning" style="width: 100%">Change</button>
	</div>
	<div class="profile-grid-right" style="border: 0.7px solid gray; border-radius: 5px; padding: 10px;">
		<div class="profile-list-scroll">
			<h4 style="color: #751717;" class="tittle">My Real Estates</h4>

			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<nav class="menu menu--francisco">
							<ul class="nav navbar-nav menu__list, mini_menu_list">
								<li class="menu__item menu__item--current"><a href="#" class="menu__link"><span class="menu__helper">All</span></a></li>
								<li class="menu__item"><a href="#" class="menu__link"><span class="menu__helper">Rented</span></a></li>
								<li class="menu__item"><a href="#" class="menu__link"><span class="menu__helper">Sold</span></a></li>
								<li class="menu__item"><a href="#" class="menu__link"><span class="menu__helper">Bought</span></a></li>
							</ul>
						</nav>
					</div>
				</div>
			</nav>
			
			<div class="profile-list">
				<div class="profile-listItem">
					<div class="profile-grid-left">
						<img src="images/house1.jpg" alt="" class="img-thumbnail">
					</div>
					<div class="profile-grid-right">
						<div class="profile-listItem-text">
							<h4>Kuca</h4>
							<p>Mandjasndaj</p>
							<p>24.04.2016.</p>
						</div>
					</div>
				</div>
				<div class="profile-listItem">
					<div class="profile-grid-left">
						<img src="images/house1.jpg" alt="" class="img-thumbnail">
					</div>
					<div class="profile-grid-right">
						<div class="profile-listItem-text">
							<h4>Kuca</h4>
							<p>Mandjasndaj</p>
							<p>24.04.2016.</p>
						</div>
					</div>
				</div>
				<div class="profile-listItem">
					<div class="profile-grid-left">
						<img src="images/house1.jpg" alt="" class="img-thumbnail">
					</div>
					<div class="profile-grid-right">
						<div class="profile-listItem-text">
							<h4>Kuca</h4>
							<p>Mandjasndaj</p>
							<p>24.04.2016.</p>
						</div>
					</div>
				</div>
				<div class="profile-listItem">
					<div class="profile-grid-left">
						<img src="images/house1.jpg" alt="" class="img-thumbnail">
					</div>
					<div class="profile-grid-right">
						<div class="profile-listItem-text">
							<h4>Kuca</h4>
							<p>Mandjasndaj</p>
							<p>24.04.2016.</p>
						</div>
					</div>
				</div>
				<div class="profile-listItem">
					<div class="profile-grid-left">
						<img src="images/house1.jpg" alt="" class="img-thumbnail">
					</div>
					<div class="profile-grid-right">
						<div class="profile-listItem-text">
							<h4>Kuca</h4>
							<p>Mandjasndaj</p>
							<p>24.04.2016.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="clearfix"></div>