<style>tr:nth-child(even){background-color: #f2f2f2}</style>
<nav class="navbar navbar-default"></nav>

<div class="container">
	<div class="profile-grid-left" style="border: 1px solid gray; border-radius: 5px; padding: 10px;">
	    <div class="table-responsive">          
			<table class="table">
		    	<tbody>
		    		<tr >
		    			<th colspan="2" style="text-align: center; font-size: 16px; color: #751717">Profile details</th>
		    		</tr>
		      		<tr>
		        		<td>Username</td>
		        		<td>{{verifier.username}}</td>
		      		</tr>
		      		<tr>
		        		<td>Email</td>
		        		<td>{{verifier.email}}</td>
		      		</tr>
		  		</tbody>
		  	</table>
		</div>
	</div>
	<div class="profile-grid-right" style="border: 1px solid gray; border-radius: 5px; padding: 10px;">
		<div class="profile-list-scroll">
			<h4 style="color: #751717;" class="tittle">Advertisement Requests</h4> <br>
			<div class="profile-list" ng-repeat="advertisement in unverifiedAdvers">
				<div class="profile-listItem">
					<div class="profile-grid-left">
						<img ng-src="{{advertisement.image}}" alt="" class="img-thumbnail">
					</div>
					<div class="profile-grid-right">
						<div class="profile-listItem-text">
							<h4>{{advertisement.name}} {{advertisement.id}}</h4>
							<p>{{advertisement.price | currency:"$"}}</p>
							<p>{{advertisement.city}}</p>
						</div>
					</div>
					<div class="clearfix"></div>
					<br>
					<div style="width: 100%; padding-left: 40%">
						<button type="button" class="btn btn-success" ng-click="accept(advertisement.id)"><b>Accept</b></button>
						<button type="button" class="btn btn-danger" ng-click="reject(advertisement.id)"><b>Decline</b></button>
					</div>
					<div class="clearfix"></div>
					<br>
				</div>
				<br>
				<div class="clearfix"></div>
				<br><br>
			</div>
		</div>
	</div>
</div>
<br><br><br>