<style>tr:nth-child(even){background-color: #f2f2f2}</style>
<nav class="navbar navbar-default"></nav>

<div class="container">
	<div class="profile-grid-left" style="border: 1px solid gray; border-radius: 5px; padding: 10px;">
	    <div class="table-responsive">          
			<table class="table">
		    	<tbody>
		      		<tr >
		    			<th colspan="2" style="text-align: center; font-size: 16px; color: #751717">Profile details</th>
		    		</tr>
		      		<tr>
		        		<td>Name</td>
		        		<td ng-model="user.name"></td>
		      		</tr>
		      		<tr>
		        		<td>Surname</td>
		        		<td>{{user.surname}}</td>
		      		</tr>
		      		<tr>
		        		<td>Username</td>
		        		<td>{{user.username}}</td>
		      		</tr>
		      		<tr>
		        		<td>Email</td>
		        		<td>{{user.email}}</td>
		      		</tr>
		      		<tr>
		        		<td>Phone Number</td>
		        		<td>{{user.phoneNumber}}</td>
		      		</tr>
		      		<tr>
		        		<td>Address</td>
		        		<td>{{user.address}}</td>
		      		</tr>
		      		<tr>
		        		<td>City</td>
		        		<td>{{user.city}}</td>
		      		</tr>
		      		<tr>
		        		<td>Rate</td>
		        		<td>{{user.rate}}</td>
		      		</tr>
		  		</tbody>
		  	</table>
		</div>
  		<br>
  		<button type="button" class="btn btn-warning" style="width: 100%; background-color: #751717; border-color: #751717;" ng-click="openModal()"><b>Change</b></button>
	</div>
	
	<div class="profile-grid-right" style="border: 1px solid gray; border-radius: 5px; padding: 10px; min-height: 600px;">
		<div class="profile-list-scroll">
			<h4 style="color: #751717;" class="tittle">User Requests</h4> <br> <br>
			
			<div class="profile-list" ng-repeat="applied in appliedUsers">
				<div class="profile-listItem">
					<div style="width: 70%; float: left; border: 1px solid gray; border-radius: 10px; padding: 20px;">
						<h4>{{applied.name}}</h4>
						<p>{{applied.surname}}</p>
					</div>
					<div style="width: 25%; float: right; padding-top: 4%">
						<button type="button" class="btn btn-success" ng-click="accept(applied.id)"><b>Accept</b></button>
						<button type="button" class="btn btn-danger" ng-click="deny(applied.id)"><b>Decline</b></button>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="profile-grid-left" style="border: 1px solid gray; border-radius: 5px; padding: 10px; margin-top: 10px;">
	    <div class="table-responsive">          
			<table class="table">
		    	<tbody>
		      		<tr >
		    			<th colspan="2" style="text-align: center; font-size: 16px; color: #751717">Company details</th>
		    		</tr>
		      		<tr>
		        		<td>Name</td>
		        		<td>{{company.name}}</td>
		      		</tr>
		      		<tr>
		        		<td>Phone Number</td>
		        		<td>{{company.phoneNumber}}</td>
		      		</tr>
		      		<tr>
		        		<td>Zip Code</td>
		        		<td>{{company.location.zipCode}}</td>
		      		</tr>
		      		<tr>
		        		<td>City</td>
		        		<td>{{company.location.city}}</td>
		      		</tr>
		      		<tr>
		        		<td>Address</td>
		        		<td>{{company.address}}</td>
		      		</tr>
					<tr>
		        		<td>Site</td>
		        		<td>{{company.site}}</td>
		      		</tr>
		  		</tbody>
		  	</table>
		</div>
	</div>
</div>
<br><br><br>