<style>tr:nth-child(even){background-color: #f2f2f2}</style>
<nav class="navbar navbar-default"></nav>

<div class="container">
	<div class="profile-grid-left" style="border: 1px solid gray; border-radius: 5px; padding: 10px;">
	    <div class="table-responsive">          
			<table class="table">
		    	<tbody>
		    		<tr >
		    			<th colspan="2" style="text-align: center; font-size: 16px; color: #751717">Profile details</th>
		    		</tr>
		      		<tr>
		        		<td>Username</td>
		        		<td>{{verifier.username}}</td>
		      		</tr>
		      		<tr>
		        		<td>Email</td>
		        		<td>{{verifier.email}}</td>
		      		</tr>
		  		</tbody>
		  	</table>
		</div>
	</div>
	<div class="profile-grid-right" style="border: 1px solid gray; border-radius: 5px; padding: 10px; min-height: 600px;">
		<div class="profile-list-scroll">
			<h4 style="color: #751717;" class="tittle">Reported advertisements</h4> <br> <br>
			
			<div class="profile-list" ng-repeat="inapp in inappropriates">
				<div class="profile-listItem">
					<div style="width: 70%; float: right; border: 1px solid gray; border-radius: 10px; padding: 20px;">
						<h4>{{inapp.title}}</h4>
						<p>{{inapp.description}}</p>
						<p>{{inapp.advertisementDTO.name}}</p>
					</div>
					<div class="clearfix"></div>
					<br>
					<div style="width: 100%; padding-left: 40%">
						<button type="button" class="btn btn-success" ng-click="accept(inapp.id)"><b>Accept</b></button>
						<button type="button" class="btn btn-danger" ng-click="reject(inapp.id)"><b>Decline</b></button>
					</div>
				</div>
				<div class="clearfix"></div>
				<br>
			</div>
		</div>
	</div>
</div>
<br><br><br>