<style>tr:nth-child(even){background-color: #f2f2f2}</style>
<nav class="navbar navbar-default"></nav>

<div class="container">
	<div class="profile-grid-left" style="margin-right: 0.5%; border: 1px solid gray; border-radius: 5px; padding: 10px;">
	    <div class="table-responsive">          
			<table class="table">
		    	<tbody>
		      		<tr>
		        		<td>Name</td>
		        		<td>Zana</td>
		      		</tr>
		      		<tr>
		        		<td>Surname</td>
		        		<td>Bilbija</td>
		      		</tr>
		      		<tr>
		        		<td>Phone Number</td>
		        		<td>0216312312</td>
		      		</tr>
		      		<tr>
		        		<td>Mail</td>
		        		<td>zana@gmail.com</td>
		      		</tr>
		  		</tbody>
		  	</table>
		</div>
  		<br>
  		<button type="button" class="btn btn-warning" style="width: 100%"><b>Change</b></button>
		<div class="clearfix"></div><br>
  		<button type="button" class="btn btn-success" style="width: 100%"><b>Registrate Verifier</b></button>
	</div>
	
	<div class="profile-grid-left" style="width: 37%; border: 1px solid gray; border-radius: 5px; padding: 10px;">
		<div class="profile-list-scroll">
			<h4 style="color: #751717;" class="tittle">Inappropriate Requests</h4> <br> <br>
			<div class="profile-list">
				<div class="profile-listItem">
					<div style="width: 70%; float: left; border: 1px solid gray; border-radius: 10px; padding: 20px;">
						<h4>Fake Advertisement</h4>
						<p>Mandjasndaj</p>
						<p>24.04.2016.</p>
					</div>
					<div style="width: 25%; float: right; padding-top: 4%">
						<button type="button" class="btn btn-success"><b>Accept</b></button>
						<button type="button" class="btn btn-danger"><b>Decline</b></button>
					</div>
				</div>
				<div class="profile-listItem">
					<div style="width: 70%; float: left; border: 1px solid gray; border-radius: 10px; padding: 20px;">
						<h4>Contains Curses</h4>
						<p>Mandjasndaj</p>
						<p>24.04.2016.</p>
					</div>
					<div style="width: 25%; float: right; padding-top: 4%">
						<button type="button" class="btn btn-success"><b>Accept</b></button>
						<button type="button" class="btn btn-danger"><b>Decline</b></button>
					</div>
				</div>
				<div class="profile-listItem">
					<div style="width: 70%; float: left; border: 1px solid gray; border-radius: 10px; padding: 20px;">
						<h4>Inaccurate data</h4>
						<p>Mandjasndaj</p>
						<p>24.04.2016.</p>
					</div>
					<div style="width: 25%; float: right; padding-top: 4%">
						<button type="button" class="btn btn-success"><b>Accept</b></button>
						<button type="button" class="btn btn-danger"><b>Decline</b></button>
					</div>
				</div>
				<div class="profile-listItem">
					<div style="width: 70%; float: left; border: 1px solid gray; border-radius: 10px; padding: 20px;">
						<h4>Does not exists</h4>
						<p>Mandjasndaj</p>
						<p>24.04.2016.</p>
					</div>
					<div style="width: 25%; float: right; padding-top: 4%">
						<button type="button" class="btn btn-success"><b>Accept</b></button>
						<button type="button" class="btn btn-danger"><b>Decline</b></button>
					</div>
				</div>
				<div class="profile-listItem">
					<div style="width: 70%; float: left; border: 1px solid gray; border-radius: 10px; padding: 20px;">
						<h4>Not Owner</h4>
						<p>Mandjasndaj</p>
						<p>24.04.2016.</p>
					</div>
					<div style="width: 25%; float: right; padding-top: 4%">
						<button type="button" class="btn btn-success"><b>Accept</b></button>
						<button type="button" class="btn btn-danger"><b>Decline</b></button>
					</div>
				</div>				
			</div>
		</div>
	</div>
	
	<div class="profile-grid-right" style="width: 37%; border: 1px solid gray; border-radius: 5px; padding: 10px;">
		<div class="profile-list-scroll">
			<h4 style="color: #751717;" class="tittle">Clerk Requests</h4> <br> <br>
			
			<div class="profile-list">
				<div class="profile-listItem">
					<div style="width: 70%; float: left; border: 1px solid gray; border-radius: 10px; padding: 20px;">
						<h4>Marko Markovic</h4>
						<p>Mandjasndaj</p>
						<p>0101988801119</p>
					</div>
					<div style="width: 25%; float: right; padding-top: 4%">
						<button type="button" class="btn btn-success"><b>Accept</b></button>
						<button type="button" class="btn btn-danger"><b>Decline</b></button>
					</div>
				</div>
				<div class="profile-listItem">
					<div style="width: 70%; float: left; border: 1px solid gray; border-radius: 10px; padding: 20px;">
						<h4>Marko Markovic</h4>
						<p>Mandjasndaj</p>
						<p>0101988801119</p>
					</div>
					<div style="width: 25%; float: right; padding-top: 4%">
						<button type="button" class="btn btn-success"><b>Accept</b></button>
						<button type="button" class="btn btn-danger"><b>Decline</b></button>
					</div>
				</div>
				<div class="profile-listItem">
					<div style="width: 70%; float: left; border: 1px solid gray; border-radius: 10px; padding: 20px;">
						<h4>Marko Markovic</h4>
						<p>Mandjasndaj</p>
						<p>0101988801119</p>
					</div>
					<div style="width: 25%; float: right; padding-top: 4%">
						<button type="button" class="btn btn-success"><b>Accept</b></button>
						<button type="button" class="btn btn-danger"><b>Decline</b></button>
					</div>
				</div>
				<div class="profile-listItem">
					<div style="width: 70%; float: left; border: 1px solid gray; border-radius: 10px; padding: 20px;">
						<h4>Marko Markovic</h4>
						<p>Mandjasndaj</p>
						<p>0101988801119</p>
					</div>
					<div style="width: 25%; float: right; padding-top: 4%">
						<button type="button" class="btn btn-success"><b>Accept</b></button>
						<button type="button" class="btn btn-danger"><b>Decline</b></button>
					</div>
				</div>
				<div class="profile-listItem">
					<div style="width: 70%; float: left; border: 1px solid gray; border-radius: 10px; padding: 20px;">
						<h4>Marko Markovic</h4>
						<p>Mandjasndaj</p>
						<p>0101988801119</p>
					</div>
					<div style="width: 25%; float: right; padding-top: 4%">
						<button type="button" class="btn btn-success"><b>Accept</b></button>
						<button type="button" class="btn btn-danger"><b>Decline</b></button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<br><br><br>