<style>
	.advertisementPicture {
		width: 185px;
		height: 150px;
		display: inline-block;
		margin-left: 2px;
    	margin-right: 2px;
		text-align: center;
	}
	.advertisementPicture img{
		height: 99px;
	}
	.advertisementPicture hr{
		margin-top: 5px;
		margin-bottom: 3px;
	}
</style>

<nav class="navbar navbar-default"></nav>

<div class="container">
	<form class="form-horizontal" name="sellForm" novalidate ng-controller="SellCtrl" nvt-submit="submitSellForm()">
		<div class="form-group" ng-class="{'has-error': nvt.sellForm.needsAttention(sellForm.name)}">
			<label class="col-sm-2 control-label">Name<span class="requiredFiled">*</span></label>
			<div class="col-sm-10">
		  		<input type="text" class="form-control" name="name" placeholder="Name" required ng-model="advertisementCreate.name">
			</div>
		</div>
		<div class="form-group" ng-class="{'has-error': nvt.sellForm.needsAttention(sellForm.address)}">
			<label class="col-sm-2 control-label">Address<span class="requiredFiled">*</span></label>
			<div class="col-sm-10">
		  		<input type="text" class="form-control" name="address" placeholder="Address" required ng-model="advertisementCreate.address">
			</div>
		</div>
		<div class="form-group" ng-class="{'has-error': nvt.sellForm.needsAttention(sellForm.city)}">
			<label class="col-sm-2 control-label">City<span class="requiredFiled">*</span></label>
			<div class="col-sm-10">
		  		<input type="text" class="form-control" placeholder="City" name="city" required ng-model="advertisementCreate.location.city" uib-typeahead="city for city in cities | filter:$viewValue" ng-blur="getPartOfTheCities()">
			</div>
		</div>
		<div class="form-group" ng-class="{'has-error': nvt.sellForm.needsAttention(sellForm.zipcode)}">
			<label class="col-sm-2 control-label">Zip code<span class="requiredFiled">*</span></label>
			<div class="col-sm-10">
		  		<input type="number" min="0" class="form-control" name="zipcode" placeholder="Zip code" required ng-model="advertisementCreate.location.zipCode">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">Part of the city</label>
			<div class="col-sm-10">
		  		<input type="text" class="form-control" name="partofthecity" placeholder="Part of the city" ng-model="advertisementCreate.location.partOfTheCity" uib-typeahead="partOfTheCity for partOfTheCity in partOfTheCities | filter:$viewValue">
			</div>
		</div>
		<div class="form-group" ng-class="{'has-error': nvt.sellForm.needsAttention(sellForm.landsize)}">
  			<label class="col-sm-2 control-label">Land Size<span class="requiredFiled">*</span></label>
  			<div class="col-sm-10">
  			    <div class="input-group">
  			        <span class="input-group-addon">m<sup>2</sup></span>
  			        <input type="number" min="0" step="0.01" name="landsize" data-number-to-fixed="2"  required data-number-stepfactor="100" class="form-control currency" ng-model="advertisementCreate.landSize"/>
  			    </div>
  			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">Equipment</label>
			<div class="col-sm-10">
		  		<input type="text" class="form-control" name="equipment" placeholder="Equipment" ng-model="advertisementCreate.techEquipment">
			</div>
		</div>
		<div class="form-group" ng-class="{'has-error': nvt.sellForm.needsAttention(sellForm.heatingtype)}">
		 	<label class="col-sm-2 control-label">Heating type<span class="requiredFiled">*</span></label>
			<div class="col-sm-10" id="htDiv">
			  	<select class="form-control" name="heatingtype" required ng-model="advertisementCreate.heatingType">
			  		<option>Forced Air</option>
					<option>Radiant</option>
					<option>Radiators</option>
			  	</select>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">Bathrooms</label>
			<div class="col-sm-10">
		  		<input type="number" min="0" class="form-control" name="bathrooms" placeholder="Bathrooms" ng-model="advertisementCreate.numOfBathRooms">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">Bedrooms</label>
			<div class="col-sm-10">
		  		<input type="number" min="0" class="form-control" name="bedrooms" placeholder="Bedrooms" ng-model="advertisementCreate.numOfBedRooms">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">Floors</label>
			<div class="col-sm-10">
		  		<input type="number" min="0" class="form-control" name="floors" placeholder="Floors" ng-model="advertisementCreate.numOfFlors">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">Build year</label>
			<div class="col-sm-10">
		  		<input type="number" min="0" class="form-control" name="buildyear" placeholder="Build year" ng-model="advertisementCreate.buildYear">
			</div>
		</div>
		<div class="form-group" ng-class="{'has-error': nvt.sellForm.needsAttention(sellForm.category)}">
		 	<label class="col-sm-2 control-label">Category<span class="requiredFiled">*</span></label>
			<div class="col-sm-10">
			  	<select class="form-control" required name="category" ng-model="advertisementCreate.category" ng-change="updateType()">
			  		<option>Residental</option>
					<option>Office</option>
					<option>Property</option>
			  	</select>
			</div>
		</div>
		<div class="form-group" ng-class="{'has-error': nvt.sellForm.needsAttention(sellForm.type)}">
		 	<label class="col-sm-2 control-label">Type<span class="requiredFiled">*</span></label>
			<div class="col-sm-10">
			  	<select class="form-control" required name="type" ng-model="advertisementCreate.type" ng-options="option for option in typeOptions" ng-disabled="isTypesDisabled">
			  	</select>
			</div>
		</div>
		<div class="form-group" ng-class="{'has-error': nvt.sellForm.needsAttention(sellForm.price)}">
			<label class="col-sm-2 control-label">Price<span class="requiredFiled">*</span></label>
			<div class="col-sm-10">
				<div class="input-group">
					<span class="input-group-addon">RSD</span>
					<input type="number" min="0" step="0.01" name="price" required data-number-to-fixed="2" data-number-stepfactor="100" class="form-control currency" ng-model="advertisementCreate.price"/>
				</div>
			</div>
		</div>
		<div class="form-group" ng-class="{'has-error': nvt.sellForm.needsAttention(sellForm.phonenumber)}">
  			<label class="col-sm-2 control-label">Phone Number<span class="requiredFiled">*</span></label>
  			<div class="col-sm-10">
  		  		<input type="text" class="form-control" name="phonenumber" required placeholder="Phone Number" ng-model="advertisementCreate.phoneNumber">
  			</div>
  	  	</div>
		<div class="form-group" ng-class="{'has-error': nvt.sellForm.needsAttention(sellForm.purpose)}">
		 	<label class="col-sm-2 control-label">Purpose<span class="requiredFiled">*</span></label>
			<div class="col-sm-10">
			  	<select class="form-control" name="purpose" ng-model="advertisementCreate.purpose" required>
			  		<option>Rent</option>
					<option>Sell</option>
			  	</select>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">Upload Images</label>
			<div class="col-sm-10">
				<div class="fileinput fileinput-new" data-provides="fileinput" flow-init flow-object="flowObject" test-chunks="false">
					<div>
						<div class="fileinput-preview thumbnail advertisementPicture" ng-repeat="file in $flow.files">
							<img flow-img="file"/>
							<hr>
							<a href="" class="btn btn-danger" ng-click="$flow.removeFile(file)">Remove</a>
						</div>
					</div>
					<input type="file" class="btn btn-primary" ng-disabled="$flow.files.length >= 5" flow-btn flow-attrs="{accept:'image/*'}" style="width: 125px; background-color: #751717; border-color: #751717;"/>
				</div>
		  	</div>
	  	</div>
		<div class="form-group">
			<label class="col-sm-2 control-label"></label>
			<div class="col-sm-10">
				<button type="submit" class="btn btn-success" id="submit" style="background-color: #751717; border-color: #751717; width: 100%;">Submit</button>
			</div>
		</div>
	</form>
</div>
<div class="clearfix"></div>
